<div class="container text-center">
  <form class="row g-3" [formGroup]="markerGroup" >
    <div style="display: flex; justify-content: space-around; margin: 50px 50px ;" >
      <div class="col-auto">
        <label  class="visually-hidden">Nome</label>
        <input type="text" class="form-control" formControlName="nome_operador"  placeholder="Nome Operador" >
      </div>
      <div class="col-auto">
        <label  class="visually-hidden">data</label>
        <input type="date" class="form-control" formControlName="data_inicio" placeholder="Data Inicio" >
      </div>
      <div class="col-auto">
        <label  class="visually-hidden">data</label>
        <input type="date" class="form-control" formControlName="data_fim"  placeholder="Data fim">
      </div>
      <div class="col-auto">
        <button type="submit" (click)="submit()" class="btn btn-primary mb-3">Pesquisar</button>
      </div>
    </div>
  </form>
  <div class="card" style="width: 70rem; " >
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Dados</th>
          <th scope="col">Valentia</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nome Operador Transacional</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items"  >
          <td>{{item.data_transferencia | date: 'dd/MM/yyyy' }}</td>
          <td> {{item.valor | currency}}</td>
          <td>{{item.tipo}}</td>
          <td *ngIf="item.nome_operador_transacao else semNome"  >{{item.nome_operador_transacao}}</td>
          <ng-template #semNome>
            <td>Sem Nome</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>

